<!DOCTYPE html>

<html lang="en">
  <head>
    <title>McRonald's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Poppins;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./mc-ronalds-menu.css" rel="stylesheet" />
      <title>McRonald&apos;s</title>
      <meta property="og:title" content="McRonald's" />
      <div class="mc-ronalds-menu-container">
        <div id="main-section" class="mc-ronalds-menu-main">
          <h1>McRonald&apos;s Menu</h1>
          <div class="mc-ronalds-menu-cards-container">
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/soda-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Soda</span></span>
                <span class="place-card-text1">
                  <span>
                    McRonald's drink menu offers a variety of options including
                    Coca-Cola® soft drinks, Gatorade, and more. Available in
                    small, medium, and large.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/premiumroastcoffee-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text">
                  <span>Premium Roast Coffee</span>
                </span>
                <span class="place-card-text1">
                  <span>
                    Treat yourself to a Premium Roast Coffee. Our roast coffee
                    is expertly roasted and brewed every 30 minutes. Available
                    in small, medium, and large.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/shake-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Shakes</span></span>
                <span class="place-card-text1">
                  <span>
                    McRonald's signature shake. Can be served as vanilla,
                    chocolate, or strawberry. Available in small and regular.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/orangejuice-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Orange Juice</span></span>
                <span class="place-card-text1">
                  <span>
                    100% orange juiced, that is packed with Vitamin C. Available
                    in small, medium, and large.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/icedcoffee-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Iced Coffee</span></span>
                <span class="place-card-text1">
                  <span>
                    The Iced Coffee is made with the same beans used in the
                    Premium Roast Coffee. Available in small, medium, and large.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/cheeseburger-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Cheeseburger</span></span>
                <span class="place-card-text1">
                  <span>
                    100% pure beef classic cheeseburger. Topped with American
                    cheese, chopped onions, pickles, ketchup, and mustard.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img
                alt="image"
                src="public/playground_assets/frenchfries-300h.png"
                class="place-card-image"
              />
              <div class="place-card-container1">
                <span class="place-card-text"><span>French Fries</span></span>
                <span class="place-card-text1">
                  <span>
                    McRonald's famous french fries made with premium potatoes.
                    Made to perfection. Available in small, medium, and large.
                  </span>
                </span>
                <div class="place-card-container2">
                  <div class="place-card-container3">
                    <button class="place-card-button button">
                      <span>Button</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="mc-ronalds-menu-button button">
          <span class="mc-ronalds-menu-text1">Checkout</span>
        </button>
      </div>
    </div>
  </body>
</html>
